
@{
    ViewBag.Title = "Phát triển cộng đồng";
}
<link href="@Url.Content("~/Content/css/community.css")" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="product-cover">
            <img src="@Url.Content("~/Content/images/photos/transparent-1919x594.png")" style="background-image: url(@Url.Content("~/Content/images/photos/tech-bg.png"))">
            <div class="product-cover-title">
                <span>Công nghệ</span>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <img src="@Url.Content("~/Content/images/photos/community.png")" style="width: 100%; margin-top: 60px;" />
</div>
<div class="container-fluid">

    <div class="row certificate">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="gap-container">
                    <div class="gap">
                        <span>vietgap</span>
                    </div>
                </div>
                <div class="gap-container">
                    <div class="gap">
                        <span>global gap</span>
                    </div>
                </div>
                <div class="gap-container">
                    <div class="gap">
                        <span>vietgap</span>
                    </div>
                </div>
                <div class="gap-container">
                    <div class="gap">
                        <span>vietgap</span>
                    </div>
                </div>
                <div class="gap-container">
                    <div class="gap">
                        <span>global gap</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/tvita/history.js")" type="text/javascript"></script>
}