
@{
    ViewBag.Title = "";
}

<link href="@Url.Content("~/Content/css/details.css")" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="tech-cover">
            <img src="@Url.Content("~/Content/images/photos/transparent-1280x594.png")" style="background-image: url(@Url.Content("\"../../Content/pictures/" + Model.Post_Pic_In_Content + '"'))">
        </div>
        <div class="tech-cover-title">
            <div class="article-created-date">
                <span>28.10.2017</span>
            </div>
            <div class="t-label">
                <span>@Model.Post_Name</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="content-container">
            <div class="content">
                <span>@Html.Raw(Model.Post_Description)</span>
                @if (Model.Post_Pic_In_Content != null)
                {
                    <span class="illustration">
                        <img src="@Url.Content("/Content/pictures/" + Model.Post_Pic_URL )">
                        <span class="img-tilte">
                            @Model.Post_Pic_In_Content_Des
                        </span>
                    </span>
                }
                <span>@Html.Raw(Model.Post_Content)</span>
            </div>
            <div class="related-articles">
                <div class="list-title">
                    <span>Sản phẩm</span>
                </div>
                <div class="related-list-item">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1"><i class="fa fa-angle-double-down" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sản phẩm tươi</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="#">Rau ăn lá</a></li>
                                    <li class="list-group-item"><a href="#">Rau ăn củ</a></li>
                                    <li class="list-group-item"><a href="#">Rau ăn quả</a></li>
                                    <li class="list-group-item"><a href="#">Trái cây</a></li>
                                    <li class="list-group-item"><a href="#">Rau gia vị</a></li>
                                    <li class="list-group-item"><a href="#">Rau baby</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse2"> <i class="fa fa-angle-double-down" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sản phẩm chế biến</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    <li class="list-group-item"><a href="#">Salad</a></li>
                                    <li class="list-group-item"><a href="#">Nước ép</a></li>
                                    <li class="list-group-item"><a href="#">Sấy khô</a></li>
                                    <li class="list-group-item"><a href="#">Đông lạnh</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="separate row"></div>
    <div id="relatedKitchen" class="row">

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 load-more-container">
            <button class="btn btn-default js-load-more">
                <span>@(Utilities.Translate("LoadMoreNews"))</span>
            </button>
        </div>
    </div>
</div>
<input hidden id="idKitchen" value="@Model.Post_ID"/>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/tvita/kitchen.js")" type="text/javascript"></script>
}