
@{
    ViewBag.Title = @Utilities.Translate("GotoKitchen") + " " + @Utilities.Translate("WithTvita");
    ViewBag.HotNew = true;
}

<link href="@Url.Content("~/Content/css/news.css")" rel="stylesheet">

<div class="container-fluid">
    <div class="row slide-show-container">
        <div class="ss-container" id="news-slideshow">
            <div class="ss-item ss-image">
                <img class="ss-item-cover" src="@Url.Content("~/Content/images/photos/agence-producteurs-locaux-damien-kuhn.jpg")">
                <div class="ss-caption-container">
                    <div class="container">
                        <div class="ss-content">
                            <div class="ss-title">
                                <label>T.Vita ra mắt rau sạch công nghệ cao</label>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy </p>
                            <div class="view-more">
                                <a class="btn-view-more" href="#">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ss-item ss-image">
                <img class="ss-item-cover" src="@Url.Content("~/Content/images/photos/Asset-9.png")">
            </div>
            <div class="ss-item ss-video" data-url="https://youtu.be/MB80ZuIJATI">
                <img class="ss-item-cover" src="@Url.Content("~/Content/images/photos/bee.png")">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">@(Utilities.Translate("HomePage"))</a></li>
        <li class="breadcrumb-item active">@(Utilities.Translate("GotoKitchen")) @Utilities.Translate("WithTvita")</li>
    </ol>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-5.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-6.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-8.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-5.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-6.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-8.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-5.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-6.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-8.png"))">
                </div>
                <div class="n-content">
                    Lorem ipsumsit amet, consectetuer elit, diam nonummy nibh
                </div>
                <div class="n-view-more">
                    <a href="#">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 load-more-container">
            <button class="btn btn-default js-load-more">
                <span>@(Utilities.Translate("LoadMoreNews"))</span>
            </button>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="@Url.Content("~/Scripts/tvita/news.js")" type="text/javascript"></script>
}