
@{
    ViewBag.Title = @Utilities.Translate("GotoKitchen") + " " + @Utilities.Translate("WithTvita");
    ViewBag.HotNew = true;
}

<link href="@Url.Content("~/Content/css/news.css")" rel="stylesheet">

<div class="container-fluid">
    <div class="row slide-show-container">
        <div class="ss-container" id="news-slideshow">
            @foreach (var item in Model)
            {
                <div class="ss-item ss-image">
                    <img class="ss-item-cover" src="@Url.Content("~/Content/images/photos/transparent-1280x594.png")" style="background-image: url(@Url.Content("\"../../Content/pictures/" + @item.Post_Pic_URL + '"'))">
                    <div class="ss-caption-container">
                        <div class="container">
                            <div class="ss-content">
                                <div class="ss-title">
                                    <label>@Html.Raw(item.Post_Name)</label>
                                </div>
                                <dic class="ss-short-content">
                                    <p>@Html.Raw(item.Post_Description)</p>
                                </dic>
                                <div class="view-more">
                                    <a class="btn-view-more" href="@Url.Action("Details","GotoKitchen",new { id = item.Post_ID })">@(Utilities.Translate("ViewMore"))</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">@(Utilities.Translate("HomePage"))</a></li>
        <li class="breadcrumb-item active">@(Utilities.Translate("GotoKitchen")) @Utilities.Translate("WithTvita")</li>
    </ol>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="n-item">
                    <div class="n-cover">
                        <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("\"../../Content/pictures/" + @item.Post_Pic_URL + '"'))">
                    </div>
                    <div class="n-content">
                        @Html.Raw(item.Post_Name)
                    </div>
                    <div class="n-view-more">
                        <a href="@Url.Action("Details","GotoKitchen",new { id = item.Post_ID })">@(Utilities.Translate("ViewMore"))</a>
                    </div>
                </div>
            </div>
        }
        

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 load-more-container">
            <button class="btn btn-default js-load-more">
                <span>@(Utilities.Translate("LoadMoreNews"))</span>
            </button>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        $('#news-slideshow').slideShow({
            auto: false,
            interval: 10000,
            parent: '.slide-show-container',
            containerDimension: { width: 1920, height: 594 }
        })
    </script>
}