
@{
    ViewBag.Title = Utilities.Translate("PostharvestTechnology");
}

<link href="@Url.Content("~/Content/css/postharvest_technology.css")" rel="stylesheet">
<div class="container">
<div class="row c-pg-title">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <label class="pg-title">
            <span>@Utilities.Translate("TechTitle3")</span>
            <span>@Utilities.Translate("TechTitle4")</span>
        </label>
    </div>
</div>
<div class="row t-content">
    <div class="tc col-sm-6 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
        <img class="img-responsive" src="@Url.Content("~/Content/images/photos/tech_4.png")" />
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 tc">
        <img class="img-responsive" src="@Url.Content("~/Content/images/photos/tech_5.png")" />
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 tc">
        <p>Các công nghệ sau thu hoạch như bảo quản lạnh, chế biến & đóng gói theo dây chuyền tiên tiến nhất của Châu Âu, giúp tối ưu hóa vòng đời sản phẩm, đảm bảo an toàn vệ sinh thực phẩm và duy trì sự tươi ngon.</p>
    </div>
</div>
</div>

