
@{
    ViewBag.Title = Utilities.Translate("ProductionTechnology");
}
<link href="@Url.Content("~/Content/css/production_technology.css")" rel="stylesheet">
<div class="container">
    <div class="row c-pg-title">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="pg-title">
                <span>@Utilities.Translate("TechTitle1")</span>
                <span>@Utilities.Translate("TechTitle2")</span>
            </label>
        </div>
    </div>
    <div class="row t-content">
        <div class="col-sm-6 tc">
            <p>@(Utilities.Translate("ValueChainDes"))</p>
        </div>
        <div class="col-sm-6 tc">
            <img class="img-responsive" src="@Url.Content("~/Content/images/photos/tech_1.png")" />
        </div>
        <div class="col-sm-6 tc">
            <img class="img-responsive"  src="@Url.Content("~/Content/images/photos/tech_2.png")" />
        </div>
        <div class="col-sm-6 tc">
            <img class="img-responsive"  src="@Url.Content("~/Content/images/photos/tech_3.png")" />
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/tvita/production_technology.js")" type="text/javascript"></script>
}