<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - T.Vita</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-fixed-top" role="navigation" id="slide-nav">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand" href="~/"><img src="~/Content/images/logos/nav-logo-vi.png"></a>
            </div>
            <div id="slidemenu">
                <ul class="nav navbar-nav">
                    <li class="dropdown @(Utilities.menuIsActive("Home", "Index") ? "active" : "")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giới thiệu</a>
                        <ul class="dropdown-menu">
                            <li><a href="@(Url.Action("Index", "History"))"class="@(Utilities.menuIsActive("History", "Index") ? "active" : "")">Lịch sử hình thành</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Tầm nhìn - Sứ mệnh</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Chuỗi giá trị</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Tiêu chuẩn chất lượng</a></li>
                        </ul>
                    </li>
                    <li class="dropdown @(Utilities.menuIsActive("Home", "Product") ? "active" : "")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sản phẩm</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sản phẩm</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Sản phẩm</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Sản phẩm</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Sản phẩm</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Sản phẩm</a></li>
                        </ul>
                    </li>
                    <li class="@(Utilities.menuIsActive("News", "Index") ? "active" : "")">@Html.ActionLink("Tin tức", "Index", "News")</li>
                    <li class="@(Utilities.menuIsActive("Technology", "Index") ? "active" : "")">@Html.ActionLink("Công nghệ", "Index", "Technology")</li>
                    <li class="@(Utilities.menuIsActive("Home", "GoToKitchen") ? "active" : "")"><a href="@(Url.Action("GoToKitchen", "Home"))"><span>Vào bếp</span><br /><span class="nav-subtitle">cùng T.Vita</span></a></li>
                    <li class="@(Utilities.menuIsActive("Home", "CommunityDevelopment") ? "active" : "")"><a href="@(Url.Action("CommunityDevelopment", "Home"))"><span>Phát triển</span><br /><span class="nav-subtitle">cộng đồng</span></a></li>
                </ul>
                <form class="navbar-form navbar-right" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Tìm kiếm">
                            <span class="input-group-addon glyphicon-search-custom">&nbsp;</span>
                        </div>
                    </div>
                    <span class="input-group-btn btn-grp-lang">
                        <span class="btn-group custom-btn">
                            <button type="button" class="btn btn-primary @(Utilities.languageIsActive() == "VI" ? "active": "")">VI</button>
                            <button type="button" class="btn btn-primary">EN</button>
                        </span>
                    </span>
                </form>
            </div>

        </div>
    </div>
    @{
        if (ViewBag.HotNew == true){
            <div class="hot-news">
                Tin tức nổi bật
            </div>
        }
    }
    <div class="container-fluid body-content" id="page-content">
        @RenderBody()
        <div class="row footer">
            <div class="footer-top">
                <div class="footer-logo">
                    <div class="container">
                        <div class="ttgroup-container">
                            <div class="ttgroup">
                                <div class="about-tt-grp">
                                    <h6 class="about-title">Tập đoàn T&T</h6>
                                    <label class="short-content">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                                    </label>
                                    <a href="#" class="btn-more-info">Xem thêm</a>
                                </div>
                            </div>
                        </div>
                        <div class="tvita-container">
                            <div class="tvita">
                                <div class="t-footer-col">
                                    <h6 class="about-title">Về T.Vita</h6>
                                    <p class="links">
                                        <a href="#">Lịch sử hình thành</a>
                                        <a href="#">Tầm nhìn - sứ mệnh</a>
                                        <a href="#">Chuỗi giá trị</a>
                                        <a href="#">Tiêu chuẩn chất lượng</a>
                                    </p>
                                </div>
                                <div class="t-footer-col">
                                    <h6 class="about-title">Nông trường</h6>
                                    <p class="links">
                                        <a href="#">Lào Cai</a>
                                        <a href="#">Bắc Giang</a>
                                        <a href="#">Mộc châu</a>
                                    </p>
                                </div>
                                <div class="t-footer-col">
                                    <h6 class="about-title">Công nghệ</h6>
                                    <p class="links">
                                        <a href="#">Chế biến</a>
                                        <a href="#">Thu hoạch</a>
                                        <a href="#">Bảo quản</a>
                                    </p>
                                </div>
                                <div class="t-footer-col">
                                    <h6 class="about-title">Sản phẩm</h6>
                                    <p class="links">
                                        <a href="#">Rau</a>
                                        <a href="#">Củ</a>
                                        <a href="#">Quả</a>
                                        <a href="#">Trái cây</a>
                                        <a href="#">Rau gia vị</a>
                                        <a href="#">Rau baby</a>
                                        <a href="#">Salad</a>
                                        <a href="#">Nước ép</a>
                                    </p>
                                </div>
                                <div class="t-footer-col">
                                    <h6 class="about-title">Phân phối</h6>
                                    <p class="links">
                                        <a href="#">Nội địa</a>
                                        <a href="#">Quốc tế</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="social-container">
                    <div class="container-fluid">
                        <div class="row">
                            <div aria-colspan="col-sm-12 col-md-12 col-lg-12">
                                <div class="social-link-container">
                                    <a href="#" class="social-link facebook-icon"></a>
                                    <a href="#" class="social-link youtube-icon"></a>
                                    <a href="#" class="social-link gplus-icon"></a>
                                </div>
                                <div class="social-text">Kết nối với chúng tôi</div>
                                <div class="address">Địa chỉ: Tầng 3, Tòa Artex, Số 172 Ngọc Khánh, Q. Ba Đình, Hà Nội | Điện thoại: 024.3 244 4691</div>
                                <div class="copyright">Bản quyền thuộc T.Vita</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="talk-with-me">
        <div class="twm-title">
            Nói chuyện với chúng tôi
        </div>
        <div class="twm-content">

        </div>
        <div class="twm-input">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="">
                <span class="input-group-btn">
                    <button class="btn btn-secondary handle-send" type="button">Gửi</button>
                </span>
            </div>
        </div>
    </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appscript")
    @RenderSection("scripts", required: false)
</body>
</html>
