<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - T.Vita</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <script>
        (function () {
            var cx = '000660179539483022890:7nz0y2enf0u';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>
    <div class="gg-search">
        <gcse:search></gcse:search>
    </div>
    @RenderPage("~/Views/Shared/_slidePanel.cshtml")
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle cd-btn">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand" href="~/"><img src="~/Content/images/logos/nav-logo-@(Utilities.languageIsActive()).png"></a>
            </div>

            <div class="navbar-collapse collapse" id="navbar-collapsible">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown @(Utilities.menuIsActive("Home", "About") ? "active" : "")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@(Utilities.Translate("About"))</a>
                        <ul class="dropdown-menu">
                            <li><a href="@(Url.Action("History", "About"))" class="@(Utilities.menuIsActive("About", "History") ? "active" : "")">@(Utilities.Translate("History"))</a></li>
                            <li class="divider"></li>
                            <li><a href="@(Url.Action("VisionAndMission", "About"))" class="@(Utilities.menuIsActive("About", "VisionAndMission") ? "active" : "")">@(Utilities.Translate("VisionAndMission"))</a></li>
                            @*<li class="divider"></li>
                                <li><a href="#">Chuỗi giá trị</a></li>*@
                            <li class="divider"></li>
                            <li><a href="@(Url.Action("Quality", "About"))" class="@(Utilities.menuIsActive("About", "Quality") ? "active" : "")">@(Utilities.Translate("Quality"))</a></li>
                        </ul>
                    </li>
                    <li class="dropdown @(Utilities.menuIsActive("Home", "Product") ? "active" : "")">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@(Utilities.Translate("Products"))</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Fresh", "Product")" class="@(Utilities.menuIsActive("Product", "Fresh") ? "active" : "")">@(Utilities.Translate("FreshProducts"))</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Processed", "Product")" class="@(Utilities.menuIsActive("Product", "Processed") ? "active" : "")">@(Utilities.Translate("ProcessedProducts"))</a></li>
                        </ul>
                    </li>
                    <li class="@(Utilities.menuIsActive("News", "Index") ? "active" : "")">@Html.ActionLink(Utilities.Translate("News"), "Index", "News")</li>
                    <li class="@(Utilities.menuIsActive("Technology", "Index") ? "active" : "")">@Html.ActionLink(Utilities.Translate("Technology"), "Index", "Technology")</li>
                    <li class="@(Utilities.menuIsActive("GotoKitchen", "Index") ? "active" : "")"><a href="@(Url.Action("Index", "GotoKitchen"))"><span>@(Utilities.Translate("GotoKitchen"))</span> <span class="nav-subtitle">@Utilities.Translate("WithTvita")</span></a></li>
                    <li class="@(Utilities.menuIsActive("CommunityDevelopment", "Index") ? "active" : "")"><a href="@(Url.Action("Index", "CommunityDevelopment"))"><span>@(Utilities.Translate("Development"))</span> <span class="nav-subtitle">@(Utilities.Translate("Community"))</span></a></li>
                </ul>

                <div class="navbar-form navbar-right">
                    <div class="form-group" style="display:inline;">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Tìm kiếm">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            <span class="input-group-addon span-separate"></span>
                            <span class="input-group-addon btn-control-language @(Utilities.languageIsActive().ToUpper() == "VI" ? "active": "")" data-lang="vi">VI</span>
                            <span class="input-group-addon span-separate-line">|</span>
                            <span class="input-group-addon btn-control-language @(Utilities.languageIsActive().ToUpper() == "EN" ? "active": "")" data-lang="en">EN</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </nav>

    @{
        if (ViewBag.HotNew == true)
        {
            <div class="hot-news">
                <marquee id="hot-news-content" onmouseover="this.stop();" onmouseout="this.start();"></marquee>
            </div>
        }
    }

    <div class="container-fluid body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    @{
        if (ViewBag.showCertificate == true)
        {
            <div class="container-fluid gap-group">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="container gap-group">
                            <div class="block">
                                <img src="@Url.Content("~/Content/images/certificate/VIETGAP.png")" />
                            </div>
                            <div class="block">
                                <img src="@Url.Content("~/Content/images/certificate/USDA.png")" />
                            </div>
                            <div class="block">
                                <img src="@Url.Content("~/Content/images/certificate/ISO22000.png")" />
                            </div>
                            <div class="block">
                                <img src="@Url.Content("~/Content/images/certificate/GMP.png")" />
                            </div>
                            <div class="block">
                                <img src="@Url.Content("~/Content/images/certificate/GLOBALGAP.png")" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <div class="container-fluid">
        <div class="row">
            <div class="footer-top col-lg-12">
                <div class="row f-row">
                    <div class="col-xs-6 col-md-6 col-lg-3 ttgroup">
                        <div class="about">
                            <h6 class="about-title">Tập đoàn T&T</h6>
                            <label class="short-content">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in
                            </label>
                            <a href="http://ttgroup.com.vn" class="btn-more-info">Xem thêm</a>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-9 tvita">
                        <div class="menu-list row">
                            <div class="col-lg-20">
                                <div class="list-mnu">
                                    <h6 class="about-title">Về T.Vita</h6>
                                    <ul>
                                        <li><a href="#">Lịch sử hình thành</a></li>
                                        <li><a href="#">Tầm nhìn - sứ mệnh</a></li>
                                        <li><a href="#">Chuỗi giá trị</a></li>
                                        <li><a href="#">Tiêu chuẩn chất lượng</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-20">
                                <div class="list-mnu">
                                    <h6 class="about-title">Nông trường</h6>
                                    <ul>
                                        <li><a href="@Url.Action("Farm", "Home")">Lào Cai</a></li>
                                        <li><a href="@Url.Action("Farm", "Home")">Bắc Giang</a></li>
                                        <li><a href="@Url.Action("Farm", "Home")">Mộc Châu</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-20">
                                <div class="list-mnu">
                                    <h6 class="about-title">Công nghệ</h6>
                                    <ul>
                                        <li><a href="#">Chế biến</a></li>
                                        <li><a href="#">Thu hoạch</a></li>
                                        <li><a href="#">Bảo quản</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-20">
                                <div class="list-mnu">
                                    <h6 class="about-title">Sản phẩm</h6>
                                    <ul>
                                        <li><a href="#">Rau</a></li>
                                        <li><a href="#">Củ</a></li>
                                        <li><a href="#">Quả</a></li>
                                        <li><a href="#">Trái cây</a></li>
                                        <li><a href="#">Rau gia vị</a></li>
                                        <li><a href="#">Rau baby</a></li>
                                        <li><a href="#">Salad</a></li>
                                        <li><a href="#">Nước ép</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-20">
                                <div class="list-mnu">
                                    <h6 class="about-title">Phân phối</h6>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "Distribution")">Nội địa</a></li>
                                        <li><a href="@Url.Action("Index", "Distribution")">Quốc tế</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom col-lg-12">
                <div class="social-container">
                    <div class="container-fluid">
                        <div class="row">
                            <div aria-colspan="col-sm-12 col-md-12 col-lg-12">
                                <div class="social-link-container">
                                    <a href="#" class="social-link facebook-icon"></a>
                                    <a href="#" class="social-link youtube-icon"></a>
                                    <a href="#" class="social-link gplus-icon"></a>
                                </div>
                                <div class="social-text">Kết nối với chúng tôi</div>
                                <div class="address">Địa chỉ: Tầng 3, Tòa Artex, Số 172 Ngọc Khánh, Q. Ba Đình, Hà Nội | Điện thoại: 024.3 244 4691</div>
                                <div class="copyright">Bản quyền thuộc T.Vita</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="talk-with-me">
        <div class="twm-title">
            @(Utilities.Translate("TalkWithMe"))
        </div>
        <div class="twm-content">
            <ul id="discussion"></ul>
        </div>
        <div class="twm-input">
            <div class="input-group message-input" style="display: none">
                <input type="text" class="form-control" id="message" placeholder="">
                <span class="input-group-btn">
                    <button class="btn btn-secondary handle-send" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </span>
            </div>
            <div class="input-group name-input">
                <input id="myName" type="text" class="form-control" placeholder="Nhập tên của bạn">
                <span class="input-group-btn">
                    <button class="btn btn-secondary handle-name" type="button">OK</button>
                </span>
            </div>
        </div>
    </div>
    <div class="modal fade" id="remoteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                    <br><br>
                    <div class="remote-modal-content">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remoteModalDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body remote-modal-content">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                </div>
            </div>

        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/multilanguage")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appscript")
    @RenderSection("scripts", required: false)

    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>



    </script>
</body>
</html>
