<link href="@Url.Content("~/Content/slide_panel/css/style.css")" rel="stylesheet">
<div class="cd-panel from-left">
    <header class="cd-panel-header">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="@Utilities.Translate("Find")">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
            <span class="input-group-btn">

            </span>
            <span class="input-group-btn btn-language-c1">
                <button class="btn btn-default btn-language@(Utilities.languageIsActive().ToUpper() == "VI" ? " active": "")" data-lang="vi" type="button">VI</button>
            </span>
            <span class="input-group-btn btn-language-c2">
                <button class="btn btn-default btn-language@(Utilities.languageIsActive().ToUpper() == "EN" ? " active": "")" data-lang="en" type="button">EN</button>
            </span>
        </div>
        @*<a href="#0" class="cd-panel-close">Close</a>*@
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            @*****************************************************@
            <div class="nav-side-menu">
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content out">
                        @*<li>
                                <a href="#">
                                    <i class="fa fa-dashboard fa-lg"></i> Dashboard
                                </a>
                            </li>*@
                        <li data-toggle="collapse" data-target="#products" class="collapsed">
                            <a href="#"> @Utilities.Translate("Introduction") <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="products">
                            @*<li class="@(Utilities.menuIsActive("About", "History") ? "active" : "")"><a href="@(Url.Action("History", "About"))">@(Utilities.Translate("History"))</a></li>*@
                            <li class="@(Utilities.menuIsActive("About", "VisionAndMission") ? "active" : "")"><a href="@(Url.Action("VisionAndMission", "About"))">@(Utilities.Translate("VisionAndMission"))</a></li>
                            <li class="@(Utilities.menuIsActive("Home", "Value") ? "active" : "")"><a href="@Url.Action("Value", "Home")">@(Utilities.Translate("Value"))</a></li>
                            <li class="@(Utilities.menuIsActive("About", "Quality") ? "active" : "")"><a href="@(Url.Action("Quality", "About"))">@(Utilities.Translate("Quality"))</a></li>
                        </ul>

                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                            <a href="#"> @Utilities.Translate("Products") <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="service">
                            <li class="@(Utilities.menuIsActive("Product", "Fresh") ? "active" : "")"><a href="@Url.Action("Fresh", "Product")">@(Utilities.Translate("FreshProducts"))</a></li>
                            <li class="@(Utilities.menuIsActive("Product", "Processed") ? "active" : "")"><a href="@Url.Action("Processed", "Product")">@(Utilities.Translate("ProcessedProducts"))</a></li>
                        </ul>

                        <li class="@(Utilities.menuIsActive("News", "Index") ? "active" : "")">
                            <a href="@Url.Action("Index", "News")"> @Utilities.Translate("News") </a>
                        </li>

                        <li class="@(Utilities.menuIsActive("Technology", "Index") ? "active" : "")">
                            <a href="@Url.Action("Index", "Technology")"> @Utilities.Translate("Technology")</a>
                        </li>

                        <li class="@(Utilities.menuIsActive("GotoKitchen", "Index") ? "active" : "")">
                            <a href="@Url.Action("Index", "GotoKitchen")"> @Utilities.Translate("GotoKitchen") @Utilities.Translate("WithTvita") </a>
                        </li>

                        <li class="@(Utilities.menuIsActive("CommunityDevelopment", "Index") ? "active" : "")">
                            <a href="@Url.Action("Index", "CommunityDevelopment")"> @Utilities.Translate("Development") @Utilities.Translate("Community")</a>
                        </li>
                    </ul>
                </div>
            </div>
            @************************************************************************@
        </div>
    </div>
</div>