
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    ViewBag.showCertificate = true;
}

<link href="@Url.Content("~/Content/slick.css")" rel="stylesheet">
<link href="@Url.Content("~/Content/css/product_detail.css")" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="tech-cover">
            <img src="@Url.Content("~/Content/images/photos/transparent-1280x594.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-8.png"))">
        </div>
        <div class="tech-cover-title">
            <div class="article-created-date">
                <span>28.10.2017</span>
            </div>
            <div class="t-label">
                <span class="js-product-name"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="content-container">
            <div class="content">
                <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nos Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</span>
                <div class="social-action">
                    <div class="social-fb">
                        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                    </div>
                    <div class="social-gplus">
                        <g:plusone></g:plusone>
                    </div>
                </div>
                <div class="row">
                    <div class="gallery-container">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <span>Thư viện hình ảnh</span>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="gallery row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <a href="#">
                                        <div class="g-item">
                                            <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-8.png"))">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <a href="#">
                                        <div class="g-item">
                                            <img src="@Url.Content("~/Content/images/photos/transparent-44.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-8.png"))">
                                            <div class="video-mark">

                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <a href="#">
                                        <div class="g-item">
                                            <img src="@Url.Content("~/Content/images/photos/transparent-388x388.png")" style="background-image: url(@Url.Content("~/Content/images/photos/Asset-8.png"))">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="related-articles">
                <div class="info-price">
                    <div class="container-ip">
                        <div class="info-title">
                            <span>Thông tin sản phẩm</span>
                        </div>
                        <div class="price-container">
                            <span class="keep-inline"><span class="price js-price">500.000</span><span class="unit">VND/Kg</span></span>
                        </div>
                        <div class="separate"></div>
                        <div class="item-info">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            Xuất xứ
                                        </td>
                                        <td>
                                            Việt Nam
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Quy cách đóng gói
                                        </td>
                                        <td>
                                            Túi
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Hướng dẫn sử dụng
                                        </td>
                                        <td>
                                            Sản phẩm dùng ăn trực tiếp hoặc làm mứt, trộn gỏi...
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Hướng dẫn bảo quản
                                        </td>
                                        <td>
                                            Bảo quản mát, tránh ánh nắng trực tiếp
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-order">Đặt hàng</button>
                    </div>
                </div>
                <div class="list-title">
                    <span>Sản phẩm</span>
                </div>
                <div class="related-list-item">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse1"><i class="fa fa-angle-double-down" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sản phẩm tươi</a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau ăn lá</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau ăn củ</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau ăn quả</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Trái cây</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau gia vị</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau baby</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Salad</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Sản phẩm chế biến</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Nước ép</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Sấy khô</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Đông lạnh</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse2"> <i class="fa fa-angle-double-down" aria-hidden="true"></i><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sản phẩm chế biến</a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in">
                                <ul class="list-group">
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau ăn lá</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau ăn củ</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau ăn quả</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Trái cây</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau gia vị</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Rau baby</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Salad</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Sản phẩm chế biến</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Nước ép</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Sấy khô</a></li>
                                    <li class="list-group-item"><i class="fa fa-angle-right" aria-hidden="true"></i><a href="#">Đông lạnh</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid same-kind-product">
    <div class="row">
        <div class="container p-slide">
            <div class="col-sm-12 col-md-12 col-lg-12 p-title">
                <span>Sản phẩm cùng loại</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row slider responsive">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-extend">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <a href="@Url.Action("Value", "Home")">
                        <img src="@Url.Content("~/Content/images/photos/transparent-388x274.png")" style="background-image: url(@Url.Content("~/Content/images/photos/value.png"))">

                        <div class="n-cover-title">
                            <span>Chuỗi giá trị</span>
                        </div>
                    </a>
                </div>
                <div class="n-content">
                    <p>Các sản phẩm T.Vita luôn đám bảo một chuỗi giá trị khép kín theo mô hình “từ trang trại đến bàn ăn”. Từ khi chỉ là hạt giống; cây sẽ được gieo trồng, chăm bón; khi đến mùa thu hoạch sẽ được chuyển đến Nhà máy để chế biến và đóng gói; từ đó các sản phẩm được chuyển đến các siêu thị, cửa hàng tới tay người tiêu dùng.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <a href="@Url.Action("Index", "Technology")">
                        <img src="@Url.Content("~/Content/images/photos/transparent-388x274.png")" style="background-image: url(@Url.Content("~/Content/images/photos/tech.png"))">
                        <div class="n-cover-title">
                            <span>Công nghệ</span>
                        </div>
                    </a>
                </div>
                <div class="n-content">
                    <p>T.Vita chú trọng đầu tư vào các mô hình trồng trọt công nghệ cao với hệ thống Nhà kính của Israel; Hệ thống tưới điều khiển tự động; Bộ giống chất lượng cao có khả năng kháng bệnh và chịu nhiệt từ các thương hiệu nổi tiếng thế giới.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="n-item">
                <div class="n-cover">
                    <a href="@Url.Action("Farm", "Home")">
                        <img src="@Url.Content("~/Content/images/photos/transparent-388x274.png")" style="background-image: url(@Url.Content("~/Content/images/photos/map.png"))">
                        <div class="n-cover-title">
                            <span>Nông trường</span>
                        </div>
                    </a>
                </div>
                <div class="n-content">
                    <p>Các vùng nguyên liệu và nông trường của T.Vita sẽ được phân bổ tại vùng cao nguyên – trung du và đồng bằng, đảm bảo sự đa dạng các chủng loại sản phẩm quanh năm, đồng thời có khí hậu thổ nhưỡng phù hợp với từng loại cây trồng cho ra đời những sản phẩm có năng xuất chất lượng tốt nhất.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fb-root"></div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/slick.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/tvita/product_detail.js")" type="text/javascript"></script>
    <script>
        getProductDetail('@ViewBag.productId');
    </script>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}